---
layout: page
---
{% if page.no_ad %}
{% else %}
<div class='left-side-bar'>
    <div class="author-info">
        <img src="/assets/img/404.png">
        <div>我是<a href="{{ '/about.html' | prepend: site.url }}">{{ site.author }}</a> <br/> 喜欢本文就点个♥吧</div>
    </div>
    <hr/>
    {% if site.social_media or site.counting_stars %}
    {% include 'social-media' %}
    {% endif %}
</div>
{% endif %}
<div class='right-side-bar post-menu'>
    <div class='menu-title'>{{ page.title }}</div>
    <hr>
</div> 
<div class="post-area">
<div class="post-front-matter">
    {% if page.title %}
    <h1>{{ page.title }}</h1>
    {% else %}
    <h1>无标题</h1>
    {% endif %}
    <div class="date-bar">
        <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
    </div>
    <div class="category-bar">
    {% for cat in page.category %}
        <span class="category">〔{{ cat }}〕</span>
    {% endfor %}
    </div>
    <div class="tag-bar">
    {% for tag in page.tag %}
        <span class="tag">#{{ tag }}</span>
    {% endfor %}
    </div>
</div>


{% if site.social_media or site.counting_stars %}
<div class="post-top-like-bar">
{% include 'social-media' %}
</div>
{% endif %}

<hr class="hr-wavy frontmatter-hr">

<details class="post-menu-float">
    <summary>目录</summary>
    <div class="post-menu"></div>
</details>
<div class="post-content">
    {{ content }}
</div>

{% if site.social_media or site.counting_stars %}
<div class="post-bottom-like-bar">
{% include 'social-media' %}
</div>
{% endif %}

{% if page.no_sibling_bar %}
{% else %}
<div class="sibling-pages">
    {% if page.last %}
    <div class="sibling-page-arrow"><a href="{{ id_to_page[page.last].url }}">〈</a></div>
    <div class="sibling-page sibling-page-next">
        <div class="sibling-page-title"><a href="{{ id_to_page[page.last].url }}">{{ id_to_page[page.last].title | truncate: 12 }}</a></div>
        <div class="sibling-page-date">{{ id_to_page[page.last].date | date: "%Y-%m-%d" }}</div>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="sibling-page sibling-page-last">
        <div class="sibling-page-title"><a href="{{ id_to_page[page.next].url }}">{{ id_to_page[page.next].title | truncate: 12 }}</a></div>
        <div class="sibling-page-date">{{ id_to_page[page.next].date | date: "%Y-%m-%d" }}</div>
    </div>
    <div class="sibling-page-arrow"><a href="{{ id_to_page[page.next].url }}">〉</a></div>
    {% endif %}
</div>
{% endif %}
{% if site.valine and page.comment %}
<div class="comment-area">
    <div defer id="vcomments"> 评论区加载中 </div>
</div>
{% endif %}
{% if site.isso and page.comment %}
<div class="comment-area">
    <h2 class="comment-area-title">评论 <span class="comment-area-power-by">powered by <a href="https://isso-comments.de">isso</a></span></h2>
    {% include "isso" %}
</div>
{% endif %}
{% if site.utterances and page.comment %}
    {% include "utterances" %}
{% endif %}
</div>
<script src={{ '/assets/js/generate-toc.js' | prepend: site.url }}></script>
{% if site.counting_stars %}
<script>var counting_stars_url = '{{ site.counting_stars.url }}'</script>
<script src={{ '/assets/js/counting_stars.js' | prepend: site.url }}></script>
{% endif %}
